@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito Sans', sans-serif;
  height: 100%;
  font-size: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input,
select {
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  border-radius: 10px;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  display: flex;
  /* justify-content: stretch; */
  padding: 2rem 1.5rem;
  width: 100%;
  flex-wrap: wrap;
}

.minicard-container {
  width: 23%;
  margin: 2% 1%;
}

@media (max-width: 1000px) {
  .minicard-container {
    width: 48%;
  }
}
@media (max-width: 700px) {
  .minicard-container {
    width: 100%;
  }
}
